:root {
	/* Colors */
	--clr-almostWhite: hsl(0, 0%, 98%);
	--clr-mediumGray: hsl(0, 0%, 41%);
	--clr-almostBlack: hsl(0, 0%, 8%);

	/* Fonts */
	--ff-epilogue: "Epilogue", sans-serif;
	--fs-paragraph: 18px;

	--fw-500: 500;
	--fw-700: 700;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: var(--ff-epilogue);
}

p {
	font-size: var(--fs-paragraph);
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: var(--clr-almostWhite);
}

.darken-body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	backdrop-filter: brightness(50%);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	position: sticky;
	top: 0;

	display: flex;
	align-items: center;
	width: 100%;
	padding: 1.5rem 2rem 1.5rem;
	font-size: var(--fs-paragraph);
	background-color: var(--clr-almostWhite);
}

header .logo-container {
	display: flex;
	justify-content: start;
	width: 10%;
	height: auto;
}

header .nav-menu__first {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 65%;
	height: auto;
	gap: 2rem;
	color: var(--clr-mediumGray);
}

.features {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.features-on {
	display: none !important;
}

.features-dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 80px;
	top: 70px;

	padding: 1rem 1.5rem;
	gap: 1.1rem;
	width: 185px;
	height: auto;

	border-radius: 0.5rem;
	background-color: white;
	box-shadow: 0.1rem 1rem 2.5rem rgba(0, 0, 0, 0.2);
	transition: 0.3 ease-in-out;
}

.features-dropdown > a:hover {
	color: var(--clr-almostBlack);
	font-weight: var(--fw-700);
}

.features:hover {
	color: var(--clr-almostBlack);
	cursor: pointer;
}

.company {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.company:hover {
	color: var(--clr-almostBlack);
	cursor: pointer;
}

.company-on {
	display: none !important;
}

.company-dropdown {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 70px;

	padding: 1.5rem;
	gap: 1.2rem;
	width: 135px;
	height: auto;

	border-radius: 0.5rem;
	background-color: white;
	box-shadow: 0.1rem 1rem 2.5rem rgba(0, 0, 0, 0.2);
}

.company-dropdown > a:hover {
	color: var(--clr-almostBlack);
	font-weight: var(--fw-700);
}

.careers:hover {
	color: var(--clr-almostBlack);
	cursor: pointer;
}

.about:hover {
	color: var(--clr-almostBlack);
	cursor: pointer;
}

.todolist > img {
	width: 15px;
	margin-inline: 0.5rem;
}

.calendar > img {
	width: 15px;
	margin-inline: 0.5rem;
}

.reminders > img {
	width: 15px;
	margin-inline: 0.5rem;
}

.planning > img {
	width: 15px;
	margin-inline: 0.5rem;
}

a {
	color: var(--clr-mediumGray);
	text-decoration: none;
}

header .nav-menu__second {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 2rem;
	width: 25%;
	height: auto;
}

.login {
	color: var(--clr-mediumGray);
}

.login:hover {
	color: var(--clr-almostBlack);
	cursor: pointer;
}

.nav-menu__second > button {
	padding: 0.7rem;
	padding-inline: 1.5rem;
	background-color: var(--clr-almostWhite);
	border-radius: 15px;
	border: 2px solid var(--clr-mediumGray);
	color: var(--clr-mediumGray);
	font-size: var(--fs-paragraph);
}

.nav-menu__second > button:hover {
	color: var(--clr-almostBlack);
	border-color: var(--clr-almostBlack);
	cursor: pointer;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1100px;
	min-height: 100vh;
	padding: 1rem;
	margin-bottom: 1rem;
	gap: 3rem;
}

main .first-section {
	width: 50%;
	height: auto;
}

main .first-section > h1 {
	font-size: 4.8rem;
	margin-top: 1rem;
}

h1 > span {
	display: block;
}

main .first-section > p {
	color: var(--clr-mediumGray);
	width: 85%;
	line-height: 2rem;
}

main .first-section > .images {
	display: flex;
	align-items: center;
	gap: 2.1rem;
	margin-top: 5rem;
	margin-bottom: -5rem;
}

main .first-section > button {
	width: 30%;
	padding: 1rem 1rem;
	border: 1px solid;
	border-radius: 1rem;
	margin-top: 1.5rem;
	color: var(--clr-almostWhite);
	background-color: var(--clr-almostBlack);
	font-size: var(--fs-paragraph);
}

.first-section > button:hover {
	cursor: pointer;
	background-color: var(--clr-almostWhite);
	border: 1px solid black;
	color: var(--clr-almostBlack);
	font-weight: var(--fw-700);
}

main .second-section {
	width: 50%;
}

main .second-section > img {
	width: 100%;
	height: auto;
}

.sidebar-menu {
	display: flex;
}

.menu-icon {
	display: none;
	width: 45px;
}

.menu-icon:hover {
	cursor: pointer;
}

/* Sidebar */
.sidebar {
	display: flex;
	visibility: hidden;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	position: fixed;
	top: 0;
	right: 0;

	width: 25%;
	height: 100vh;
	padding: 2rem;
	z-index: 999;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: var(--clr-almostWhite);
}

.sidebar > .icons {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
}

.icons > .close-icon {
	width: 45px;
	opacity: 0.7;
}

.close-icon:hover {
	cursor: pointer;
}

.sidebar .nav-menu__first {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-block: 2rem;
}

.sidebar .nav-menu__first span {
	margin-right: auto;
	padding-left: 1rem;
}

.sidebar .nav-menu__first > .features {
	margin-right: auto;
}

.sidebar .nav-menu__first > .company {
	margin-right: auto;
}

.sidebar .features {
	display: inline;
	flex-direction: column;
}

.sidebar .sidebar-features-on {
	display: none !important;
}

.sidebar .sidebar-features-dropdown {
	display: flex;
	flex-direction: column;

	position: relative;
	left: 35px;

	gap: 1.1rem;
	width: 185px;
	margin-top: 1.5rem;
}

.sidebar .company {
	display: inline;
	flex-direction: column;
}

.sidebar .sidebar-company-on {
	display: none !important;
}

.sidebar .sidebar-company-dropdown {
	display: flex;
	flex-direction: column;

	position: relative;
	left: 35px;

	gap: 1.1rem;
	width: 185px;
	margin-top: 1.5rem;
	padding-inline: 0.5rem;
}

.sidebar .nav-menu__second {
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.sidebar button {
	width: 90%;
}

.mobile-image {
	display: none;
}

@media screen and (max-width: 375px) {
	header .nav-menu__first,
	header .nav-menu__second {
		display: none;
	}

	header {
		width: 100%;
	}

	header .logo-container {
		display: flex;
		justify-content: flex;
		width: 50%;
		height: auto;
	}

	.sidebar-menu-container {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		width: 50%;
		height: auto;
	}

	.menu-icon {
		display: flex;
	}

	main {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;

		width: 100%;
		min-height: 100vh;

		margin-bottom: 1rem;
		gap: 1rem;
		margin: 0;
		padding: 0;
	}

	main .first-section {
		width: 100%;
		text-align: center;
	}

	main .first-section h1 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 8px;
		font-size: 2rem;

		width: 100%;
	}

	main .first-section p {
		text-align: center;
		width: 100%;
		padding: 0.23rem;
		margin: 0;
	}

	main .first-section button {
		width: 40%;
		margin-block: 2rem;
	}

	main .first-section > .images {
		display: flex;
		width: 100%;
		height: auto;
		margin: 0;
		margin-block: 1rem;
		padding: 0;
		gap: 1rem;
	}

	main .images > img {
		width: 21.5%;
	}

	main .second-section {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	main .second-section > img {
		width: 100%;
	}

	.mobile-image {
		display: flex;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.desktop-image {
		display: none;
	}

	.sidebar {
		width: 250px;
	}

	.sidebar .nav-menu__second {
		display: flex;
	}
}
